@font-face {
  font-family: 'kalameh';
  src: url('./woff2/Kalameh-fanum-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'kalameh';
  src: url('./woff2/Kalameh-fanum-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'kalameh';
  src: url('./woff2/Kalameh-fanum-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'kalameh';
  src: url('./woff2/Kalameh-fanum-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'kalameh';
  src: url('./woff2/Kalameh-fanum-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'kalameh';
  src: url('./woff2/Kalameh-fanum-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
