@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-italiana: 'Italiana', serif;
  --font-kalameh: 'Kalameh', serif;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0 / 0.7);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.2664 0.1358 276.75);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9368 0.0159 106.7);
  --secondary-foreground: oklch(0.7784 0.017 293.66);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.6268 0 0);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.5653 0.216 27.77);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.97 0.001 106.424);
  --ring: oklch(0.2664 0.1358 276.75);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    direction: rtl;
    @apply bg-background text-foreground font-kalameh;
  }

  .default-inner-container {
    @apply max-w-full xl:max-w-7xl 2xl:max-w-[1440px] mx-auto;
  }

  .lg-inner-container {
    @apply max-w-full xl:max-w-[1440px] 2xl:max-w-[1600px] mx-auto px-4 xl:px-0;
  }

  .default-padding-x {
    @apply px-4 lg:px-8;
  }

  /* Menu  */
  .menu-body-height {
    max-height: calc(100vh - var(--spacing) * 32);
  }

  .background-backdrop {
    @apply bg-background/50 backdrop-blur-sm border border-border;
  }

  /* Hero  */
  .hero-height {
    height: calc(100vh + var(--spacing) * 36);
    @apply -mb-20 lg:mb-0;
  }

  @media (min-width: 1024px) {
    .lg\:hero-height {
      height: calc(100vh + var(--spacing) * 36);
      @apply -mb-20 lg:mb-0;
    }
  }

  @media (min-width: 1280px) {
    .xl\:hero-height {
      height: calc(100vh + var(--spacing) * 36);
      @apply -mb-20 lg:mb-0;
    }
  }


  @media (min-width: 1536px) {
    .\32 xl\:hero-height {
      height: calc(100vh + var(--spacing) * 36);
      @apply -mb-20 lg:mb-0;
    }
  }

  @media (min-width: 1024px) {
    .hero-height {
      height: 100vh;
    }
  }
}